@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font-main: "Ubuntu", sans-serif;
}

/* all */
* {
  font-family: var(--font-main);
}

/* only section tags */
section {
  padding-top: 3.5em;
}

/* Socials.js */
li > a {
  color: black;
  opacity: 70%;
  transition: all 1s;
}

li > a:hover {
  color: purple;
  opacity: 100%;
}

/* Projects.js */
.project-list{
height: 25vh;
}

/* NavBar.js */
.Navi {
  background-color: #333333;
  height: 6vh;
}

/* Skills.js */
.skills-div {
  height: 80px;
}

.skills-img {
  height: 85%;
  transition: height 0.5s;
}

.skills-img:hover {
  height: 100%;
}

/* LoadSpinner.js */
#spinner {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* Bio.js */
.bio {
  width: 100%;
  min-height: 94vh;
}

#h2-animation {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
