@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font-main: "Ubuntu", sans-serif;
}

/* all */
* {
  font-family: var(--font-main);
}

/* only section tags and section id's */
section {
  padding: 3.5em 3.5em 0 3.5em;
}

@media (max-width: 600px) {
  section {
    padding: 3.5em .5em 0 .5em;
  }
}

/* Socials.js */
li > a {
  color: black;
  opacity: 70%;
  transition: all 1s;
}

li > a:hover {
  color: purple;
  opacity: 100%;
}

/* RadarChartSkills.js */
#chart-data {
  width: 50%;
}

@media (max-width: 850px) {
  #chart-data {
    width: 70%;
  }
}

@media (max-width: 700px) {
  #chart-data {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #chart-data {
    width: 100%;
  }
}

/* Projects.js */
.project-list {
width: 100vw;
}

.project-list > img{
min-height: 25vh;
}

.project-image{
  max-width: 230px;
}

/* NavBar.js */
.Navi {
  background-color: #333333;
}

/* Skills.js */

.skills-div {
  height: 80px;
}

.skills-img {
  height: 70%;
  transition: height 0.5s;
}

.skills-img:hover {
  height: 80%;
}

/* LoadSpinner.js */
#spinner {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* Bio.js */
.bio {
  width: 100%;
  min-height: 94vh;
}

#h2-animation {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
