@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font-main: "Ubuntu", sans-serif;
}

* {
  font-family: var(--font-main);
}

li > a {
  color: black;
  opacity: 70%;
  transition: all 1s;
}

li > a:hover {
  color: purple;
  opacity: 100%;
}

.Navi {
  background-color: #333333;
}

.skills-div {
  height: 80px;
}

.skills-img {
  max-height: 90px;
  height: 90%;
  transition: height 0.5s;
}

.skills-img:hover {
  height: 100%;
}

#spinner{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.bio {
  width: 100%;
  min-height: 100vh;
}

#bio-text::after {
  content: ' Your next Developer';
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
